# Local .terraform directories
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
*.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json
backend.tf

# Angular
node_modules/
.angular/
.sass-cache/
coverage/
